@import "bootstrap-sprockets";
@import "bootstrap";

.body-container {
  padding-left: 3%;
  padding-right: 3%;
}

.padded-right {
  padding-right: 8px;
}

.br {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
